.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.card-container {
  perspective: 1000px;
  height: 100vh;
}

.card {
  width: 431px;
  height: 600px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card {
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  /* Style front of the card */
}

.card-back {
  /* Style back of the card */

  transform: rotateY(180deg);
}

.container {
  display: flex;
  justify-content: space-between;
}
.form-container, .flipped-card {
  width: 50%; /* Each takes half of the container's width */
}

.main-container {
  display: flex;
}

.main-column {
  width: 50%;
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 100vh;
}

@media (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }

  .main-column {
    width: 100%;
  }
}
.input-label {
  color: #000;
  font: 30px GT Sectra Display Trial, -apple-system, Roboto, Helvetica, sans-serif;
}
.submit-btn {
  background-color: #000;
  align-self: start;
  margin-top: 28px;
  color: #fff;
  justify-content: center;
  padding: 10px 10px;
  font: 18px Inter, sans-serif;
}